:root {
    --light-blue:#117aca;
    --dark-blue:#1c4778;
  }
.item {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #3b3636;
    box-shadow: 0 0 10px #ccc;
    border-radius: 16px;
    color: #fff;
    padding:10px;
    align-items:center;
    transition: .2s ease all;
    margin: 10px 0;
}
.item:hover {
    transform: scale(1.03);
}
.date {
    font-weight:100;
    color: #ccc;
    padding: 6px;
    border-radius: 16px;
    background: #211e1e;
    width:150px;
}
.month,
.year,
.day  {
    text-align: center;
}
.month {
    font-weight: 600;
}
.day {
    font-size: 24px;
    font-weight: 600;
}
.title {
    text-align: left;
    margin-right: 30px;
}
.title h3{
    font-size:1.5em;
    font-weight: 100;
}
.title-cost-wrapper {
    display: flex;
}

@media (max-width:1000px) {
    .title-cost-wrapper {
        width:100%;
        display: flex;
    }
}
@media (max-width:767px) {
    .date {
        min-width:100px;
    }
    .item .month,
    .item .year,
    .item .day  {
        text-align: center;
    }
    .title-cost-wrapper {
        display: block;
    }
    .title {
        width: 100% !important;
    }
}