:root {
  --light-blue:#117aca;
  --dark-blue:#1c4778;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  /* background: #211e1e; */
  padding: 10px;
}
.container {
  width:75%;
  margin: auto;
  /* background: #211e1e; */
  padding: 20px 40px;
  border-radius: 10px;
  min-height: 500px;
}
.App-header {
  text-align: center;
}
h1 {
  color: var(--light-blue);
}
.btn {
  background: var(--dark-blue);
  color: #fff;
  border-radius: 10px;
  border: none;
  font-size:18px;
  padding: 10px 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  transition: .2s ease all;
}
.btn:hover {
  background: var(--light-blue);
  cursor: pointer;
  transform:scale(1.05);
  box-shadow:1px 1px 6px #463e3e;
}